# Configuration file

general {
    I:AdvancedSPGenDay=24
    I:AdvancedSPGenNight=1
    I:AdvancedSPOutput=72
    I:AdvancedSPStorage=96000
    I:HybrydSPGenDay=576
    I:HybrydSPGenNight=8
    I:HybrydSPOutput=1200
    I:HybrydSPStorage=240000
    I:QuantumSPGenDay=360000
    I:QuantumSPGenNight=2048
    I:QuantumSPOutput=720000
    I:QuantumSPStorage=24000000
    I:UltimateHSPGenDay=12800
    I:UltimateHSPGenNight=64
    I:UltimateHSPOutput=27000
    I:UltimateHSPStorage=2400000
}


"quantum generator" {
    I:quantumGeneratorDefaultPacketSize=512
    I:quantumGeneratorDefaultProduction=512
}


"recipes settings" {
    B:"Disable Advanced Solar Helmet recipe"=false
    B:"Disable AdvancedSolarPanel recipe"=false
    B:"Disable DoubleSlab recipe"=false
    B:"Disable Hybrid Solar Helmet recipe"=false
    B:"Disable HybridSolarPanel recipe"=false
    B:"Disable MolecularTransformer recipe"=false
    B:"Disable QuantumSolarPanel recipe"=false
    B:"Disable Ultimate Solar Helmet recipe"=false
    B:"Disable UltimateSolarPanel recipe"=false
    B:"Enable hard recipes"=true
    B:"Enable simple Advanced Solar Panel recipe"=false
}


